.FavoritesContainer{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.FavoritesCardContainer{
    display: flex;
    padding: 5px;
    background: rgb(0,12,12);
    color: rgba(255,255,255,.5);
    box-shadow: 0 0 10px black;
    min-width: 0;
}
.FavoritesPosterLink{
    width: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FavoritesPosterLink>img{
    width: 100%;
    height: 150px;
}
.FavoritesDetailsDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.FavoritesTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.RemoveFromFavoritesBtn{
    width: fit-content;
    padding: 3px;
    background-color: rgb(211, 162, 98);
    border: 1px solid black;
}
.RemoveFromFavoritesBtn:hover{
    background-color: rgb(139, 98, 44);
}




@media screen and (max-width: 800px) {
    .FavoritesContainer{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 560px) {
    .FavoritesContainer{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 240px) {
    .FavoritesPosterLink{
        display: block;
        width: 100%;
    }
    .FavoritesCardContainer{
        display: block;
    }
    .FavoritesDetailsDiv{
        display: block;
        width: 100%;
    }
    .FavoritesDetailsDiv>span{
        margin-right: 10px;
    }
}