.MovieDetailsContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.MovieDetailsContainer>div{
    width: 60%;
    background: rgb(0,12,12);
    padding: 10px;
    color: rgba(255,255,255,.5);
}
.PosterDiv>img{
    width: 100%;
    height: 300px;
}
.MovieDetailsBtn{
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(211, 162, 98);
    border: 1px solid black;
    cursor: pointer;
}
.MovieDetailsBtn:hover{
    background-color: rgb(139, 98, 44);
}


@media screen and (max-width: 768px) {
    .MovieDetailsContainer>div{
        width: 80%;
    }
}

@media screen and (max-width: 570px) {
    .MovieDetailsContainer>div{
        width: 100%;
    }
}
