.SearchbarContainer {
    padding: 5px;
}
.SearchInputFilterContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SearchInputContainer {
    display: flex;
    align-items: center;
}
.SearchInputContainer>input{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    margin-right: 10px;
}
.SortFilterContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.SearchResultContainer{
    margin-top: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.PaginationContainer{
    text-align: center;
    margin: 20px;
}
.PaginationContainer>button{
    padding: 5px;
    background-color: rgb(207, 130, 29);
    border: 1px solid gray;
    cursor: pointer;
}
.PaginationPrevBtn{
    margin-right: 20px;
}
.PaginationNextBtn{
    margin-left: 20px;
}


@media screen and (max-width: 1080px) {
    .SearchResultContainer{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width: 768px) {
    .SearchResultContainer{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 560px) {
    .SearchInputFilterContainer{
        display: block;
        text-align: center;
    }
    .SearchInputContainer{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .SearchInputContainer>input{
        margin-right: 0;
    }
    .SortFilterContainer{
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
    .SearchResultContainer{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 370px) {
    .SearchResultContainer{
        grid-template-columns: repeat(1,1fr);
    }
}